.add-button {
  padding-left: 48px;
  padding-right: 48px;
}
.items-list {
  margin-left: 16px;
}
.list-item-add-wrapper {
  margin-bottom: 48px;
}

.item {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
}
.cancel-button {
  width: 16px;
  height: 16px;
  font-weight: bold;
  padding: 0;
  border: 1px double #a70000;
  background-color: #ffbaba;
  margin-right: 16px;
}

.item-name {
  width: 480px;
  outline: none;
  border: 0;
}

.list-item-title {
  margin-bottom: 24px;
}
