.listItemInput {
  flex: 1;
  border: 0;
}

.addButton {
  padding-left: 48px;
  padding-right: 48px;
  height: 42px;
}
.listItemAddWrapper {
  max-width: 580px;
  margin-bottom: 48px;
  border: 1px solid var(--light-gray);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--white);
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 1px solid var(--light-gray);
  height: 64px;
  padding-left: 16px;
  padding-right: 16px;
}
.item:last-child {
  border-bottom: 1px solid var(--light-gray);
}

.itemName {
  color: var(--dark-purple);
  background-color: transparent;
  flex: 1;
  outline: none;
  border: 0;
  padding-right: 16px;
  width: 100%;
}

.listItemTitle {
  margin-bottom: 24px;
}

.editButtonsWrapper {
  margin-right: 8px;
}
.buttonsWrapper {
  display: flex;
  align-items: center;
}

.saveButton {
  border-radius: 5px 5px 0px 0px;
}

.cancelButton {
  border-radius: 0px 0px 5px 5px;

  background-color: var(--gray);
}

.cancelButton:hover {
  background-color: var(--dark-gray);
}

@media only screen and (max-width: 440px) {
  .editButtonsWrapper {
    margin-bottom: 8px;
    margin-right: 0;
  }
  .buttonsWrapper {
    flex-direction: column;
  }

  .item {
    height: 112px;
  }
}
