.litstItemInput {
  height: 32px;
  width: 384px;
  font-size: 1rem;
  margin-right: 16px;
  outline: none;
  border: 1px solid #000;
  padding: 4px;
}

.addButton {
  padding-left: 48px;
  padding-right: 48px;
}
.itemsList {
  margin-left: 16px;
}
.listItemAddWrapper {
  margin-bottom: 48px;
}

.item {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
}
.cancelButton {
  width: 16px;
  height: 16px;
  font-weight: bold;
  padding: 0;
  border: 1px double #a70000;
  background-color: #ffbaba;
  margin-right: 16px;
}

.itemName {
  width: 480px;
  outline: none;
  border: 0;
}

.listItemTitle {
  margin-bottom: 24px;
}
