.shopingListsTitle {
  margin-bottom: 24px;
}

.newListButton {
  height: 42px;
  padding: 0 32px;
  margin-bottom: 32px;
}
.listsWrapper {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.listItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  height: 48px;
}

.listItem:nth-child(even) {
  background-color: var(--soft-white);
}
.listItem:nth-child(odd) {
  background-color: var(--white);
}

.listTitle {
  padding: 4px;
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  color: var(--gray);
  text-decoration: none;
  flex: 1;
}

.listTitle:hover {
  color: var(--black);
}

.buttonsWrapper {
  display: flex;
}

.editButton {
  margin-right: 16px;

  width: 80px;
}

.deleteButton {
  width: 80px;
}
