.shopingListsTitle {
  margin-bottom: 24px;
}

.newListButton {
  padding-left: 32px;
  padding-right: 32px;
  margin-bottom: 32px;
}

.listItem {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}

.listTitle {
  width: 400px;
  padding: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.editButton {
  margin-right: 16px;
}

.deleteButton {
  border-color: #a70000;
  background-color: #ffbaba;
}
