:root {
  --light-purple: #a37cf0;
  --dark-purple: #682bd7;
  --white: #fff;
  --soft-white: #f9fbfe;
  --black: #010101;
  --pale-blue: #f2f6fb;
  --light-red: #f08080;
  --red: #e60000;
  --gray: #818fae;
  --light-gray: #d3d3d3;
  --gray: #b0b0b0;
  --dark-gray: #808080;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: var(--pale-blue);
}

.page-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;

  padding: 24px;
  padding-top: 100px;
}

.button {
  background-color: var(--light-purple);
  border-radius: 5px;
  border: 0;
  padding: 8px;
  height: 28px;
  width: 120px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  text-decoration: none;
}
.button:hover {
  background-color: var(--dark-purple);
}

.delete-button {
  background-color: var(--light-red);
}
.delete-button:hover {
  background-color: var(--red);
}

header {
  margin-bottom: 24px;
}

.page-title {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--black);
}

.input {
  height: 42px;
  width: 480px;
  font-size: 1rem;
  outline: none;
  border: 1px solid var(--light-gray);
  border-radius: 5px;
  padding: 8px;
}

.header {
  background-color: var(--light-purple);
  position: fixed;
  height: 64px;
  width: 100%;
  padding: 24px;
  top: 0;
  left: 0;
}

.main-title {
  color: var(--soft-white);
  text-decoration: none;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
